@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*NAVBAR DO SITE*/

body {

}

header {
    background-color: black;
    
}

.nave-container {
    display: flex;
    justify-content: space-around;
}

.logoSpotify {
    width: 12rem;
    display: block;
}

.logoSpotify:hover{
    opacity: 0.7;
}

a {
    text-decoration: none;
    color: rgb(107, 108, 109);
    font-weight: bold;
    
}

a:hover {
    color: #fff;
}

.nave-items {
    display: inline;
    position: relative;
    top: -1rem;
    margin: 1rem;
    font-size: 20px;
    font-family: 'Saira Semi Condensed', sans-serif;
    color: #fff;
}

#fotoPerfil {
    width: 40px;
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 100%;
    border: solid 3px #fff;
}

#fotoPerfil:hover {
    opacity: 0.5;
}

/*Main do site*/

main {
    background: rgb(3,2,2);
    background: linear-gradient(180deg, rgba(3,2,2,1) 0%, rgba(77,7,7,1) 50%, rgba(19,19,19,1) 100%);   
    background-size: 100%;
     color: #fff;
}

.novidadeEfoto {
    display: flex;
    justify-content: space-evenly;
    padding: 6rem;
}

.GreenDayHeader {
    position: relative;
    top: 1rem;
    width: 350px;
    height: 350px;
    border-radius: 2%;
    border: solid 3px rgb(0, 0, 0);
    object-fit:cover;
    box-shadow: 1px 1px 10px 5px rgb(0, 0, 0);
    transition: all 0.5s;
    cursor: pointer;
}

.GreenDayHeader:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
    border-radius: 50%;
}

.TocadosRecentemente {
    position: relative;
    top: 2rem;
    left: 5rem;
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    transition: all 0.5s;
}

.TocadosRecentemente:hover {
    -webkit-filter: drop-shadow(15px 10px 10px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(15px 10px 10px rgba(0, 0, 0, 0.5));
    
}


.imagens-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    margin-left: 5rem;
}



.imagens-tamanho {
    width: 12rem;
    margin: 1rem;
    cursor: pointer;
    border: solid 3px #fff;
    border-radius: 40%;
    box-shadow: 1px 1px 20px 2px rgb(0, 0, 0);
    transition: all .5s;
    border: 1px solid transparent;
    transition: all 0.5s;
}

.imagens-tamanho:hover{
    border: 3px solid #ffffff;
    border-radius: 1%;
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

/*footer*/

.container-footer {
    display: flex;
    border-top: solid 1px rgb(255, 253, 253);
    background: url('./assets/imgHeaderMainFooter/FOOOTERIMAGEM.jpg');
}

.container-footer li {
    font-size: 1rem;
    color: rgb(126, 126, 126);
    margin: 5rem;
    width: 40%;
    cursor: pointer;
}

.container-footer p {
    position: relative;
    left: 1rem;
    padding: 5px;
}

.container-footer p:hover {
    text-decoration: underline;
}

.letra-forteh3 {
    color: #fff;
    padding: 1rem;
}

.tamanho-midias {
    width: 15%;
    cursor: pointer;
    margin: 8px;
}

.tamanho-midias:hover {
    opacity: 0.4;
}



@media screen and (max-width: 600px) {
    header {
        background-color: rgb(0, 0, 0);
        
    }
    
    .nave-container {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
    }
    
    .logoSpotify {
        display: none;
    }
    
    
    a {
        text-decoration: none;
        color: rgb(107, 108, 109);
        font-weight: bold;
        cursor: pointer;
        
    }
    
    a:hover {
        color: #fff;
    }
    
    .nave-items {
        display: inline;
        margin: 5px;
        font-size: 18px;
        font-family: 'Saira Semi Condensed', sans-serif;
        color: #fff;
    }
    
    #fotoPerfil {
        width: 20px;
        align-items: center;
        position: relative;
        top: 7px;
        left: 8px;
        border-radius: 100%;
        border: solid 3px #fff;
        cursor: pointer;
    }
    
    #fotoPerfil:hover {
        opacity: 0.5;
    }

    /*Main do site*/

main {
    background: rgb(3,2,2);
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(243, 9, 9) 50%, rgb(255, 255, 255) 100%);   
   background-size: 100%;
   color: #fff;
}

.novidadeEfoto {
    display: flex;
}


.NovidadesDoDia {
    display: none;
}


.imagens-container {
    display: flex;
    display: inline;

}

.novidadeEfoto {
    display: flex;
    flex-direction: column;
    padding: 10rem;
}

.GreenDayHeader {
    position: relative;
    top: -8rem;
    right: 6rem;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: solid 3px rgb(0, 0, 0);
    object-fit:cover;
    box-shadow: 1px 1px 10px 5px rgb(0, 0, 0);
    transition: all .5s;
    border: 1px solid transparent;
}

.TocadosRecentemente {
    display: none;
}




.imagens-tamanho {
    position: relative;
    top: -15rem;
    margin-left: 4rem;
    margin-right: 5rem;
    width: 15rem;
    cursor: pointer;
}

.container-tocadoRecentemente {
    display: flex;
    flex-wrap: wrap;
}

.h3 {
    font-size: 3rem;
    width: 70%;
    position: relative;
    top: -6rem;
    right: 4rem;
    font-family: 'Inconsolata', monospace;
    text-shadow: 10px 10px 15px #000;
}

.imagens-TocadosRecente{
    width: 60%;
    position: relative;
    left: 2rem;
    margin: 2rem;
    cursor: pointer;
    border: solid 1px rgb(255, 255, 255);
}

.imagens-TocadosRecente:hover {
    opacity: 0.7;
}

.imagens-TocadosRecente:active {
    border: solid 1px rgb(253, 253, 253);
}

/*footer*/

.container-footer {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px rgb(255, 253, 253);
    background: url('./assets/imgHeaderMainFooter/FOOOTERIMAGEM.jpg');
}

.container-footer li {
    font-size: 2rem;
    position: relative;
    left: 4rem;
    color: rgb(126, 126, 126);
    margin: 2rem;
    width: 40%;
    cursor: pointer;
}

.container-footer p {
    position: relative;
    left: 1rem;
    padding: 5px;
}

.container-footer p:hover {
    text-decoration: underline;
}

.letra-forteh3 {
    color: #fff;
    padding: 1rem;
}

.tamanho-midias {
    width: 19%;
    margin: 8px;
}



    
}



